<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

<mat-card *ngIf="dishes" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{dishes.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{BaseURL + dishes.image}}" alt={{dishes.name}}> 
  <mat-card-content>
    <p>{{dishes.description}}
    </p>
  </mat-card-content>
</mat-card>
<div fxFlex [hidden]="dishes || dishErrMess">
  <mat-spinner></mat-spinner> <h4>Loading ... Please Wait !</h4>
 </div>
 <div fxFlex *ngIf="dishErrMess">
  <h2>Error</h2>
  <h4>{{dishErrMess}}</h4>
</div>

<mat-card *ngIf="promotions" fxFlex [@expand]> 
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{promotions.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{BaseURL + promotions.image}}" alt={{promotions.name}}>
  <mat-card-content>
    <p>{{promotions.description}}
    </p>
  </mat-card-content>
</mat-card>
<div fxFlex [hidden]="promotions || promoErrMess">
  <mat-spinner></mat-spinner> <h4>Loading ... Please Wait !</h4>
 </div>
 <div fxFlex *ngIf="promoErrMess">
  <h2>Error</h2>
  <h4>{{promoErrMess}}</h4>
</div>

<mat-card *ngIf="leaders" fxFlex [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{leaders.name | uppercase}} {{leaders.abbr}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{BaseURL + leaders.image}}" alt={{leaders.name}}>
  <mat-card-content>
    <p>{{leaders.designation}}
    </p>
    <p>{{leaders.description}}
    </p>
  </mat-card-content>
</mat-card>
<div fxFlex [hidden]="leaders || leaderErrMess">
  <mat-spinner></mat-spinner> <h4>Loading ... Please Wait !</h4>
 </div>
 <div fxFlex *ngIf="leaderErrMess">
  <h2>Error</h2>
  <h4>{{leaderErrMess}}</h4>
</div>

</div>